<%= link_to("Homepage", restaurants_path)%>

<h1> Welcome User! </h1>


<h1>Thank You For Making Your Reservations With Us!</h1>
<h2>Here is a list of your reservations:</h2>

<%= @reservations.each do |reservation| %>

<ul>
  <li>Restaurant:<%= reservation.restaurant.name %></li>
  <li>Location:<%= reservation.restaurant.location %></li>
  <li>Date:<%= reservation.date %></li>
  <li>Time:<%= reservation.time %></li>
  <li>Party Size:<%= reservation.people %></li>

</ul>

<% end %>
