<%= link_to("Homepage", restaurant_path)%>

<p><%= @restaurant.name %>, <%= @restaurant.location %>, <%= @restaurant.opening_time %>, <%= @restaurant.closing_time %>,
  <!-- <%= @restaurant.url %> -->
</p>
